<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Prospector</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", "#"  %></li>
          <li><%= link_to "LinkedIn", "#"  %></li>
          <li><%= link_to "Email Verifier", "#"  %></li>
          <li><%= link_to "Industry News", "#"  %></li>
          <li><%= link_to "Company News", "#"  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>